fastapi
uvicorn[standard]
apscheduler
numpy>=2.2.6
pandas>=2.3.2
pandas-ta==0.4.71b0
scikit-learn
pyupbit
tensorflow-cpu==2.20.0
protobuf>=5.28.0
python-dotenv
slack_sdk
seaborn
python-multipart
pyotp
jinja2
